{% extends "base.html" %}

{% block content %}
	<h1>Choix du Niveau</h1>
   <label for="matricule">Matricule :</label><input type="text" id="matricule" /><br />
	<label for="filiere">Fili&egravere :</label><select id="filiere"><option>Chimie</option><option>Informatique</option><option>Math&eacutematiques</option>
	<option>Sciences Biom&eacutedicales</option><option>Sciences Biologiques</option><option>Sciences de la terre</option><option>Physique</option></select><br />
	<label for="niveau">Niveau :</label><select id="niveau"><option>Licence 1</option><option>Licence 2</option><option>Licence 3</option>
	<option>Master 1</option><option>Master 2</option></select><br />
	<label for="semestre">Semestre :</label><select id="semestre"><option>Semestre 1</option><option>Semestre 2</option></select><br />
	<label for="periode">P&eacuteriode :</label><input type="text" id="periode"/><br />
	<label for="valider">           </label><input type="submit" value="Valider"/>
   <h1>Choix du Sujet d'&eacutevaluation</h1>
   <label for="sujet1">Mati&egravere 1 :</label><input type="checkbox"/> Algorithmique 1<br>
   <label for="sujet2">Mati&egravere 2 :</label><input type="checkbox"/> Architecture des ordinateurs<br>
   <label for="sujet3">Mati&egravere 3 :</label><input type="checkbox"/> Base de donn&eacutees<br>
   <label for="sujet4">Mati&egravere 4 :</label><input type="checkbox"/> Syst&egraveme d'information<br>
   <label for="sujet4">Mati&egravere 5 :</label><input type="checkbox"/> Atelier de programmation<br>
   <label for="sujet4">Mati&egravere 6 :</label><input type="checkbox"/> Syst&egraveme d'information<br>
	<label for="valider">           </label><input type="submit" value="Valider"/>
{% endblock %}
