<!DOCTYPE html>
<html lang="en">
<head> 
	<style> label {display: block; width: 200px; float: left;} </style>
   <title>Eregistration System</title>
</head>
<body>
   <h1>Connexion au syst&egraveme Eregistration</h1>
	<label for="email">Adresse email ou Login :</label><input type="text" id="email"/><br />
	<label for="passaword">Mot de Passe :</label><input type="password" id="password"/><br />
	<label for="connecter">           </label><input type="submit" value="Connecter"/><br />
	<a href=""> Mot de Passe oubli&eacute</a>
</body>
</html>
